@charset:"UTF-8";

/*スタイル調整*/
@media screen and (min-width: 40em) {
	.global-header{margin-bottom: -101px;}
	#sec01.fullpage-section.active{
			margin-top: 87px;
	}
}
/*#fullpage{
	transform: translate3d(0px, 0px, 0px) !important;
}*/
#site_id{z-index: 0;}
#trigger1,#trger3{background: #3b4d75;}

/*共通要素
********************************/

.fullpage-inner{
	max-width:660px;
	margin: 0 auto;
}
.en{
	font-family: 'Montserrat', sans-serif;
	}
h2 .en{
	font-weight: 500;
	font-size:48px;
	display: block;
}
h2 .en.ttl-line:after{
	content:'';
	display: block;
	width: 100px;
	height: 2px;
	margin:0 auto 10px;
	border-bottom:2px solid #aab8d5;
}
#sec03-ttl h2 .en.ttl-line:after{
	border-bottom:2px solid #c7e2f4;
}
.slogan{
	color:#fff;
	font-size: 3.75rem;
	font-weight: bold;
}

/*navigation*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #dcdcdc;
}
/*#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 4px;
	width: 4px;
	margin: -2px 0 0 -2px;

}*/
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
	background: #91d2ff;
}

/*sec01
********************************/
@media screen and (min-width: 40em) {
	#sec01{
		background:url(../../../template/img/company/one_gmocloud_way/sec01-bg.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	/*#sec01 .fp-tableCell{vertical-align: baseline;}*/
	.ogcw-h2{margin-bottom: 40px;}
	.circle-sec{
		position: relative;
		overflow:hidden;
		width: 100%;
		height: 100vh;
	}
	.sec01-circle{
		display: block;
		width: 60vw;
		max-width: 840px;
		height:60vw;
		max-height: 840px;
		/*width: 740px;
		height: 740px;*/
		background: url(../../../template/img/company/one_gmocloud_way/circle01.png) no-repeat;
		background-size: contain;
		-webkit-animation: rotate-center 40000ms linear infinite both;
		animation: rotate-center 40000ms linear infinite both;

	}
	.lead{font-size: 1.2rem;}
	.sec01-circle-box{
		padding: 10vw;
		overflow:hidden;
		position:absolute;
		top:45%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
	}

	@-webkit-keyframes rotate-center {
		0%{
			-webkit-transform:rotate(0);
			transform:rotate(0);
		}
		100%{
			-webkit-transform:rotate(360deg);
			transform:rotate(360deg);
		}
	}
	@keyframes rotate-center {
		0%{
			-webkit-transform:rotate(0);
			transform:rotate(0);
		}
		100%{
			-webkit-transform:rotate(360deg);
			transform:rotate(360deg);
		}
	}
	.sec01-text-area{
		position: absolute;
		display: block;
		top:30%;
		right: 0;
		left:0;
		margin:0 auto;
		/*max-width: 660px;
		height: 30vh;*/
	}

	.sec-arrow{
		position: absolute;
		display: block;
		bottom:20vh;
		right: 0;
		left:0;
		margin:0 auto;
		width: 40px;
		height: 40px;
		border-bottom: 2px solid #46555e;
		border-right: 2px solid #46555e;
		transform:rotate(45deg);
	}
}

/*******************************
スマホ表示のスタイル
********************************/

@media screen and (max-width: 39.9375em){

	/*共通要素
	********************************/

	/*body{font-size: 90%;}*/
	.slogan{
		color:#fff;
		font-size: 2.5rem;/*48px*/
		font-weight: bold;
	}
	#sec02-ttl .slogan{
		font-size: 2rem;/*48px*/
	}
	h2 .en{
		font-weight: 500;
		font-size:2.6rem;
		display: block;
	}
	h2 .ttl-sub{
		font-size:1.25rem;
	}
	h2 .en.ttl-line:after{
		content:'';
		display: block;
		width: 100px;
		height: 2px;
		margin:0 auto 10px;
		border-bottom:2px solid #aab8d5;
	}

	/*sec01
	********************************/
	#sec01{
		background:url(../../../template/img/company/one_gmocloud_way/sec01-bg.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.circle-sec{
		position: relative;
		overflow:hidden;
		width: 100%;
		height: 100vh;
		animation: none;
	}
	.sec01-circle{
		display: block;
		width:80vw;
		height:80vw;
		background: url(../../../template/img/company/one_gmocloud_way/circle01.png) no-repeat;
		background-size: contain;
		-webkit-animation: rotate-center 40000ms linear infinite both;
		animation: rotate-center 40000ms linear infinite both;
	}
	.sec01-circle-box{
		padding: 10vw;
		overflow:hidden;
		position:absolute;
		top:40%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
	}
	.sec01-text-area{
		position: absolute;
		display: block;
		top:30%;
		right: 0;
		left:0;
		margin:0 auto;
		/*max-width: 660px;
		height: 30vh;*/
	}
}

/*サイドから出てくるコンテンツの挙動
********************************/
.side{
	-webkit-transition:transform 0.6s;
	transition:transform 0.6s;
}

/*sec02-ttl
********************************/
@media screen and (min-width: 40em) {

	h2.sec02-h2{
		color: #aab8d5;
	}
	h2.sec02-ttl-h2{
		color: #aab8d5;
	}
	#pin1{
		top:35vh !important;
	}
	#sec02-ttl{
		/*position: relative;*/
	}
	#sec02-ttl  .sec-inner{
		/*position:relative;*/
		overflow-x: hidden;
	    width: 100%;
		min-height: 100vh;
		/*max-height: 300px;*/
	}
	#sec02-ttl .mission-hight{height: 10vh;}
	#sec02-ttl .side.side-right.mission{
		/*position:absolute;*/
		width:60%;
		/*max-width:750px;*/
		/*top:50%;
		left:0;
		right:0;*/
		margin:0 auto;
		/*-webkit-transform:translateY(100%);
		transform:translateY(100%);*/
		/*-webkit-transition:transform 0.5s;
		transition:transform 0.5s;*/
	}
	/*#sec02-ttl .move-right .side-right.mission{
		width: 50vw;
		}*/
	#sec02-ttl .move-right .side-right.mission .side-inner{
		-webkit-transform: translateY(150%) translateX(120%) scale(0.8);
		transform: translateY(150%) translateX(120%) scale(0.8);
	}
	#sec02-ttl .fadeout-ttl .side.side-right.mission{
		opacity:0;
	}

	.side-left.statement{
		background:#cddffa;
		width: 50vw;
		height: 100vh;
		position: relative;
	    -webkit-transform: translateX(-100%);
	    transform: translateX(-100%);
	    -webkit-transition:transform 0.5s;
		transition:transform 0.5s;
		opacity: 0;
	}
 	.side-left.statement .side-inner{
		position:absolute;
		padding:2rem;
		top: 16%;
		left: 0;
		right:0;
		margin:0 auto;
	}
	.side-left.statement h3 {
	    font-size: 1.62rem;
	    color: #3a4d74;
	}
	.side-left.statement h3.ttl-line:after {
	    display: block;
	    content: '';
	    width: 70px;
	    height: 2px;
	    background: #3a4d74;
	    margin: 20px auto;
	}
	.side-left.statement p {
	    font-size: 1.2rem;
	    color: #46555e;
	    text-align: center;
	}
	.right-side.mission{
		position: relative;
		width: 50vw;
		height: 100vh;
	    -webkit-transform: translateX(100%)  scale(0.8);
	    transform: translateX(100%)  scale(0.8);
	    -webkit-transition:transform 0.5s;
		transition:transform 0.5s;
		opacity: 0;
	}
	.right-side.mission .side-inner{
		position:absolute;
		padding:2rem;
		top: 16%;
		left: 0;
		right:0;
		margin:0 auto;
	}
	#sec02under.open-left.sec-inner{
		width: 100%;
		float: left;

	}
	#sec02under.open-left .side-left.statement{
		width: 50vw;
		height: 100vh;
		float: left;
		-webkit-transform: translateX(0%);
	    transform: translateX(0%);
	    opacity: 1;
	}
	#sec02under.open-left .right-side.mission{
		width: 50vw;
		height: 100vh;
		float: right;
		-webkit-transform: translateX(0%)  scale(0.8);
	    transform: translateX(0%)  scale(0.8);
	    opacity: 1;
	}
	/*.open-left .side-right.mission .side-inner{
		width: 50%;
		-webkit-transform: translateY(0%) translateX(50%) scale(0.8);
		transform: translateY(0%) translateX(50%) scale(0.8);
	}
	.open-left .right-side.mission .side-inner{
		width: 50%;
		-webkit-transform: translateY(0%) translateX(-50%) scale(0.8);
		transform: translateY(0%) translateX(-50%) scale(0.8);
	}
	.open-left .side-left.statement{
		-webkit-transform: translateX(0%);
	    transform: translateX(0%);
	}
	.open-left .right-side.mission{
		-webkit-transform:translateY(-75%) translateX(150%);
	    transform:translateY(-75%) translateX(150%);
	}
	
	.open-left .side-left.statement .side-inner.side-right{
		position:absolute;
		padding:2rem;
		top: 16%;
		left: 0;
		right:0;
		margin:0 auto;
	}*/
	
}

/*******************************
スマホ表示のスタイル
********************************/

@media screen and (max-width: 39.9375em){

	#sec02-ttl{
		display: none;
		position: static;
	}

	/*sec02
	********************************/
	#trigger1{display: none;}
	h2.sec02-h2{
		color: #aab8d5;
	}
	/*#sec02  .sec-inner{
		position:relative;
		overflow-x: hidden;
		min-height: 100%;
	    width: 100%;
	}*/
	#sec02 .fp-tableCell{vertical-align: baseline;}
	#sec02 .side-right.mission{
		background: #3b4d75;
		padding:6rem 0;
		height: 100%;
		max-height:470px;
	}
	#sec02 .side-right.mission .side-inner{
		width: 90%;
		margin:0 auto;
	}
	#sec02 .side-left.statement{
		background:#cddffa;
		width: 100%;
		padding:3rem 0;
	}
	#sec02 .side-left.statement .side-inner{
		width: 90%;
		margin:0 auto;
	}
	.side-left.statement  h3{
		font-size:2.2rem;
		color: #3a4d74;
	}
	.side-left.statement  h3.ttl-line:after{
		display: block;
		content:'';
		width: 70px;
		height:2px;
		background:#3a4d74;
		margin: 20px auto 30px;
	}
	.side-left.statement p{
		text-align: center;
	}
}

/*sec03-ttl
********************************/
@media screen and (min-width: 40em) {
	h2.sec03-h2{
		color: #c7e2f4;
	}
	#sec03-ttl{
		position: relative;
	}
	#sec03-ttl  .sec-inner{
		position:relative;
		overflow-x: hidden;
		min-height: 100%;
	    width: 100%;
	}
	#sec03-ttl .side-left.vision .side-inner{
		position:absolute;
		top:30%;
		left:0;
		right:0;
		margin:0 auto;
	}
	#sec03-ttl .side-left.vision .side-inner{
		-webkit-transition:transform 0.5s;
		transition:transform 0.5s;
	}
	#sec03-ttl .move-left .side-left.vision .side-inner{
		top:30%;
		width: 50%;
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%);
		-webkit-transform: translateY(-30%) translateX(-20%) scale(0.8);
	    transform: translateY(-30%) translateX(-20%) scale(0.8);
	}
}




/*sec03
********************************/
@media screen and (min-width: 40em) {
	h2.sec03-h2{
		color: #c7e2f4;
	}
	#sec03 h2 .en.ttl-line:after{
		border-bottom:2px solid #c7e2f4;
	}
	#sec03{
		position: relative;
	}
	#sec03  .sec-inner{
		position:relative;
		overflow-x: hidden;
		min-height: 100%;
	    width: 100%;
	}
	#sec03 .side-left.vision{
		position:absolute;
		top:50%;
		left:0;
		right:0;
		-webkit-transform:translateY(-50%) translateX(0%);
		transform:translateY(-50%) translateX(0%);
		-webkit-transition:transform 0.6s;
		transition:transform 0.6s;
	}
	#sec03 .open-right .side-left.vision{
		/*width: 50%;*/
		-webkit-transform:translateY(-50%) translateX(-50%);
		transform:translateY(-50%) translateX(-50%);
	}
	#sec03 .side-left.vision .side-inner{
		-webkit-transition:transform 0.6s;
		transition:transform 0.6s;
	}
	#sec03 .open-right .side-left.vision .side-inner{
		width: 50%;
		left: 0;
		-webkit-transform: translateY(0%) translateX(75%) scale(0.8);
	    transform: translateY(0%) translateX(75%) scale(0.8);
		}
	.side-right.statement{
		height: 100vh;/*画面いっぱいの高さに合わせる*/
		left: 25%;
		padding:2rem;
		background:#cbe9fd;
		position: relative;
		-webkit-transform: translateX(100%);
	    transform: translateX(100%);
	}
	.side-right.statement .side-inner{
		width:75%;

	}
	.open-right .side-right.statement{
		/*height: 100vh;*/
		-webkit-transform: translateX(0%);
	    transform: translateX(0%);
	}
	.open-right .side-right.statement .side-inner{
		position:absolute;
		padding:1rem 2rem 2rem;
		top: 10%;
		left: 0;
		right:0;
	}
	.open-right .side-right.statement .side-inner p{
		font-size: 1.2rem;
	}
	.side-right.statement h3.ttl-line{
		font-size:1.62rem;
		color:#4593c9;
	}
	.side-right.statement  h3.ttl-line:after{
		display: block;
		content:'';
		width: 70px;
		height:2px;
		background:#4593c9;
		margin: 20px auto;

	}
	.statement-box-area{
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.one-1st-box{
		width:47%;
		background:#ecf7fe;
		padding:2rem;
		position: relative;
		margin: 40px 0;
	}
	.one-1st-box .box-ttl{
		font-size:1.875rem;
		color: #4593c9;
		text-align: center;
		position: absolute;
		top:-5%;
		left: 0;
		right: 0;

	}
	.one-1st-box p{
		text-align: center;
	}
}
/*******************************
スマホ表示のスタイル
********************************/

@media screen and (max-width: 39.9375em){

	#sec03-ttl{
		display: none;
		position: static;
	}


	/*sec03
	********************************/
	#trigger2{display: none;}
	h2.sec03-h2{
		color: #c7e2f4;
	}
	#sec03 .side.side-left{
		background: #4190c7;
		padding:6rem 0;
		height: 100%;
		max-height:470px;
	}
	#sec03 .side-right.statement{
		background:#cbe9fd;
		width: 100%;
		padding:3rem 0;
	}
	.side-right.statement h3.ttl-line{
		font-size:2.2rem;
		color:#4593c9;
	}
	.side-right.statement h3.ttl-line:after{
		display: block;
		content:'';
		width: 70px;
		height:2px;
		background:#4593c9;
		margin: 20px auto 30px;
	}
	.side-left.statement p{
		text-align: center;
	}
	#sec03 .side-right.statement .side-inner{
		width: 90%;
		margin:0 auto;
	}
	.one-1st-box{
		background:#ecf7fe;
		padding:3rem;
		position: relative;
		margin: 40px 0;
	}
	.one-1st-box .box-ttl{
		font-size:1.875rem;
		color: #4593c9;
		text-align: center;
		position: absolute;
		top:-5%;
		left: 0;
		right: 0;

	}
	.one-1st-box p{
		text-align: center;
	}

}

/*sec04
********************************/
@media screen and (min-width: 40em) {
	#sec04{
		background:url(../../../template/img/company/one_gmocloud_way/back-map.png) no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	#sec04 .sec-inner{
		position:absolute;
		top: 50%;
		left:50%;
		-webkit-transform:translateY(-50%)translateX(-50%);
		transform:translateY(-50%)translateX(-50%);
	}
	h3.sec04-h3{
		font-size: 2.25rem;
		color: #fff;
		line-height: 2;
	}
	h3.sec04-h3 .h3-text{margin-bottom: 20px;}
	.sec04-btn{margin-top: 100px;}

}
/*******************************
スマホ表示のスタイル
********************************/

@media screen and (max-width: 39.9375em){

	#sec04{
		background: #3f5685;
		width: 100%;
		max-width:640px;
		/*height: 381px !important;*/
		/*height: 0 !important;*/
		position: relative;
	}
	#sec04.fullpage-section {
	    padding: 0;
	}
	/*#sec04 .fp-tableCell {
	    display: block;
	    width: 100%;
	    height: 100%;
	    max-height: 381px;
	}*/
	#sec04 .sec04-bg{
		width: 100%;
		height: 59vh;
		max-height: 381px;
		background:url(../../../template/img/company/one_gmocloud_way/back-map-sp02.png) no-repeat;
		background-size: cover;
		background-position: center;
		overflow:hidden;
		position: relative;
	}
	.sec04-circle{
		position: absolute;
		width: 100%;
		max-width: 500px;
		height: 100%;
		background: url(../../../template/img/company/one_gmocloud_way/circle02.png) no-repeat;
		background-size: 400px 400px;
		background-position: center;
		top: 50%;
		left:50%;
		-webkit-transform:translateY(-50%)translateX(-50%);
		transform:translateY(-50%)translateX(-50%);
	}
	#sec04 .sec-inner{
		width: 85%;
		position: absolute;
		top:50%;
		left: 50%;
		-webkit-transform:translateY(-50%) translateX(-50%);
		transform:translateY(-50%) translateX(-50%);

	}
	h3.sec04-h3{
		font-size: 1.5rem;
		color: #fff;
		line-height: 2;
	}
	h3.sec04-h3 .h3-text{line-height: 2;}




}
